{% extends 'base.html' %}


{% block content %}

        <!-- Header-->
        <header class="bg-dark py-5 header">
            <div class="container px-4 px-lg-5 my-5">
                <div class="text-center text-white">
                    <h1 class="display-4 fw-bolder h1">Coding Mavens</h1>
                    <p class="lead fw-normal text-white-50 mb-0" style="font-size:25px;">Learn Languages Quickly Here...</p>
                    <br><br>
                    <br><br>
                </div>
            </div>
        </header>

        <!-- Section-->
        <section class="py-5" style="background:orange;">
<!--creating a dark background covering all the product cards-->
<div style="background:black;padding-top:20px;margin:50px;border-radius:150px;">

    <!--Creating A title for the dark background of the main page-->
    <h1 class="text-white-50" align="center"
        style="position:absolute;top:650px;left:650px;font-weight:900;
        font-family:sans-serif;font-size:50px;">Learn Coding Fast</h1>

            <div class="container px-4 px-lg-5 mt-5"
                 style=" padding-top:100px;border-radius:50px;border-radius:20px;">
            
                <div class="row gx-4 gx-lg-5 row-cols-2 row-cols-md-3 row-cols-xl-4 justify-content-center">

                {% for product in products %}
                    {% if product.is_sale %}
<div style="background:lightgreen; padding-top:20px; border-radius:20px; height:40%;margin:50px;">
                    <div class="col mb-5" >
                        <div class="card h-100" id="product_card1" style="border-radius:20px;">
                            <!-- Sale badge-->
                            <div class="badge bg-dark text-white position-absolute" style="top: 0.5rem; right: 0.5rem">Sale</div>

                            <!-- Product image-->
                            <img class="card-img-top" src="{{ product.image.url }}"
                                 alt="..." style="height:20%;padding:10px;border-radius:20px;">
                            <!-- Product details-->
                            <div class="card-body p-4" style="background:orange;border-radius:20px;;
"><br>
                                <div class="text-center">
                                    <!-- Product name-->
                                    <h5 class="fw-bolder">{{ product.name }}</h5>
                                    <!-- Sale -->
                <div class="d-flex justify-content-center small text-warning mb-2" >
                <div class="bi-star-fill"></div>
                &nbsp;&nbsp;Sale!&nbsp;&nbsp;
                <div class="bi-star-fill" ></div>
                </div>

                                    <!-- Product price-->
                                    <strike>
                                    ${{ product.price }}
                                    </strike>
                                    &nbsp;
                                    ${{ product.sale_price }}
                                </div>
                            </div>
                            <br>
                            <!-- Product actions-->
                            <div class="card-footer p-4 pt-0 border-top-0 bg-transparent">
    <div class="text-center" >
        <a class="btn btn-outline-dark mt-auto" id="view_product" href="{% url 'product' product.id  %}" >View Product</a>
    </div>
                            </div>
                        </div>
                    </div>

</div>

                    {% else %}
                    <div id="card-border">

                <div class="col mb-5">
                        <div class="card h-100" id="product_card2" style="border-radius:20px;">
                            <!-- Product image-->
                            <img class="card-img-top" src="{{ product.image.url }}"
                                 alt="..." style="height:20%;padding:10px; border-radius:20px;">
                            <!-- Product details-->
                            <div class="card-body p-4"
                                 style="background:orange;border-radius:20px;">
                                <div class="text-center" >
                                    <br>
                                    <!-- Product name-->
                                    <h5 class="fw-bolder">{{ product.name }}</h5>
                                    <!-- Product price-->
                                    ${{ product.price }}<br>
                                    {{ product.description }}
                                </div>
                            </div>
                            <br>
                            <!-- Product actions-->
                            <div class="card-footer p-4 pt-0 border-top-0 bg-transparent" >
    <div class="text-center" ><a class="btn btn-outline-dark mt-auto" href="{% url 'product' product.id %}" >View Product</a></div>
                            </div>
                        </div>
                    </div>
</div>
                        {% endif %}

                    {% endfor %}




            </div>
            </div>
</div>
        </section>

{% endblock %}
